[declaranet]
data_dir = data
sqlite_db_path = %(data_dir)s/declaranet.db
alembic_ini_path = alembic.ini
alembic_script_location = migrations

[loggers]
keys = root, declaranet

[handlers]
keys = console

[formatters]
keys = default

[logger_root]
level = WARN
handlers = console
qualname =

[logger_declaranet]
level = DEBUG
handlers = 
qualname = declaranet

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = default

[formatter_default]
format = %(asctime)s %(levelname)-8s %(name)-15s %(message)s
datefmt = %Y-%m-%d %H:%M
